/* * ========== */
/* * GLOBAL */
/* * ========== */


:root {
    --space: 0.25rem;

    /* ! TYPOGRAPHY */
    --heading-color: hsl(230, 8%, 10%);
    --heading-white-color: hsl(0, 0%, 97%);

    --para-color: hsla(230, 8%, 10%, 0.6);
    --para-dark-color: hsla(230, 8%, 10%, 0.8);
    --para-darkgray-color: hsla(230, 8%, 10%, 0.7);
    --para-white-color: hsl(0, 0%, 100%);
    --para-gray-color: hsla(0, 0%, 100%, 0.6);

    /* ! COLORS */
    --primary: hsl(146, 73%, 46%);
    --secondary: hsl(211, 73%, 42%);

    /* ! OTHERS */
    --box-bg: hsla(270, 15%, 95%, 0.95);
    --rocket-section-bg: #F2F0F4;
    --section-bg: #1D1534;

    --scrollbar-width: .7rem;
    --scrollbar-bg: linear-gradient(#f00, #fa0);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    color: var(--para-white-color);
    font: 700 normal 1.4rem/normal "Montserrat", sans-serif;
    text-decoration-line: underline !important;
    text-transform: uppercase;
    outline: 0;
}



a.large {
    font: 700 normal 1.6rem/normal "Montserrat", sans-serif;
}

a:hover {
    opacity: .8;
}

body {
    background: #fff;
    color: #000
}

/* * ===================== */
/* * TYPOGRAPHY */
/* * ===================== */

html {
    scroll-behavior: smooth;
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
}

.text-primary {
    color: var(--primary) !important;
}

.text-secondary {
    color: var(--secondary) !important;
}

.text-para-white {
    color: var(--para-white-color);
}

.text-para-dark {
    color: var(--para-dark-color);
}

.text-para-gray {
    color: var(--para-gray-color);
}

.text-para-darkgray {
    color: var(--para-darkgray-color);
}

/* ------------------------ */
/* HEADING */


h1 {
    color: var(--heading-color);
    font: 500 normal 4.8rem/5.4rem "Montserrat", sans-serif;
}

h2 {
    color: var(--heading-color);
    font: 500 normal 3.6rem/5.4rem "Montserrat", sans-serif;
}

h3 {
    color: var(--heading-color);
    font: 500 normal 3.2rem/5.4rem "Montserrat", sans-serif;
}

/* COLOR CHANGE */

h1.white,
h2.white,
h3.white {
    color: var(--heading-white-color);
}

/* UNDERLINE TEXT */

em {
    font: inherit;
    text-decoration-line: underline;
}


/* -------------------------- */
/* PARAGRAPH */

.text-1 {
    color: var(--para-dark-color);
    text-align: center;
    font: 500 normal 2rem/2rem "Montserrat", sans-serif;
}

.text-2 {
    color: var(--para-darkgray-color);
    font: 400 normal 1.8rem/3.4rem "Montserrat", sans-serif;
}

.text-3,
p {
    color: var(--para-color);
    font: 300 normal 1.6rem/2.4rem "Montserrat", sans-serif;
}

.text-4 {
    color: var(--secondary);
    font: 700 normal 1.2rem/3.4rem "Montserrat", sans-serif;
}

/* BOLD TEXT */

b {
    font-weight: 500;
}

strong {
    font-weight: 700;
}


/* *  ================== */
/* *  BUTTON */
/* *  ================== */

.btn-white,
.btn-green {
    text-align: center;
    font: 700 normal 1.4rem/normal "Montserrat", sans-serif;
    text-transform: uppercase;
    border: .3rem solid transparent;
    padding: 1.5rem 4rem;
    border-radius: 5rem;
    transition: 0.3s;
}

/* WHITE BUTTON */

.btn-white {
    color: var(--heading-color);
    background: var(--para-white-color);
}

.btn-white:hover {
    background: var(--heading-color);
    color: var(--para-white-color);
}

/* GREEN BUTTON */

.btn-green {
    color: var(--para-white-color);
    background: var(--primary);
}

.btn-green:hover {
    border: .3rem solid var(--primary);
    background: transparent;
    color: var(--primary);
}

/* * ======================== */
/* * LAYOUT */
/* * ======================== */

.container {
    /* max-width: 90%; */
    width: clamp(min(100%, 30rem), 100%, 170rem) !important;
}

.narrow {
    max-width: 55rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(45rem, 100%), 53rem));
    place-content: center;
    place-items: center;
    /* gap: 4rem; */
}



/* * ====================== */
/* * SCROLLBAR */
/* * ====================== */

::-webkit-scrollbar {
    width: var(--scrollbar-width);
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-bg);
    border-radius: 4rem;
}

/* * ========== */
/* * SPACING */
/* * ========== */

.mt-01 {
    margin-top: calc(var(--space) * 1);
}

.mt-02 {
    margin-top: calc(var(--space) * 2);
}

.mt-03 {
    margin-top: calc(var(--space) * 3);
}

.mt-04 {
    margin-top: calc(var(--space) * 4);
}

.mt-05 {
    margin-top: calc(var(--space) * 5);
}

.mt-06 {
    margin-top: calc(var(--space) * 6);
}

.mt-07 {
    margin-top: calc(var(--space) * 7);
}

.mt-08 {
    margin-top: calc(var(--space) * 8);
}

.mt-09 {
    margin-top: calc(var(--space) * 9);
}

.mt-10 {
    margin-top: calc(var(--space) * 10);
}

.mt-11 {
    margin-top: calc(var(--space) * 11);
}

.mt-12 {
    margin-top: calc(var(--space) * 12);
}

.mt-13 {
    margin-top: calc(var(--space) * 13);
}

.mt-14 {
    margin-top: calc(var(--space) * 14);
}

.mt-15 {
    margin-top: calc(var(--space) * 15);
}

.mt-16 {
    margin-top: calc(var(--space) * 16);
}

.mt-17 {
    margin-top: calc(var(--space) * 17);
}

.mt-18 {
    margin-top: calc(var(--space) * 18);
}

.mt-19 {
    margin-top: calc(var(--space) * 19);
}

.mt-20 {
    margin-top: calc(var(--space) * 20);
}

.mt-21 {
    margin-top: calc(var(--space) * 21);
}

.mt-22 {
    margin-top: calc(var(--space) * 22);
}

.mt-23 {
    margin-top: calc(var(--space) * 23);
}

.mt-24 {
    margin-top: calc(var(--space) * 24);
}

.mt-25 {
    margin-top: calc(var(--space) * 25);
}

.mt-26 {
    margin-top: calc(var(--space) * 26);
}

.mt-27 {
    margin-top: calc(var(--space) * 27);
}

.mt-28 {
    margin-top: calc(var(--space) * 28);
}

.mt-29 {
    margin-top: calc(var(--space) * 29);
}

.mt-30 {
    margin-top: calc(var(--space) * 30);
}

.mt-31 {
    margin-top: calc(var(--space) * 31);
}

.mt-32 {
    margin-top: calc(var(--space) * 32);
}

.mt-33 {
    margin-top: calc(var(--space) * 33);
}

.mt-34 {
    margin-top: calc(var(--space) * 34);
}

.mt-35 {
    margin-top: calc(var(--space) * 35);
}

.mt-36 {
    margin-top: calc(var(--space) * 36);
}

.mt-37 {
    margin-top: calc(var(--space) * 37);
}

.mt-38 {
    margin-top: calc(var(--space) * 38);
}

.mt-39 {
    margin-top: calc(var(--space) * 39);
}

.mt-40 {
    margin-top: calc(var(--space) * 40);
}

.mt-41 {
    margin-top: calc(var(--space) * 41);
}

.mt-42 {
    margin-top: calc(var(--space) * 42);
}

.mt-43 {
    margin-top: calc(var(--space) * 43);
}

.mt-44 {
    margin-top: calc(var(--space) * 44);
}

.mt-45 {
    margin-top: calc(var(--space) * 45);
}

.mt-46 {
    margin-top: calc(var(--space) * 46);
}

.mt-47 {
    margin-top: calc(var(--space) * 47);
}

.mt-48 {
    margin-top: calc(var(--space) * 48);
}

.mt-49 {
    margin-top: calc(var(--space) * 49);
}

.mt-50 {
    margin-top: calc(var(--space) * 50);
}

.mt-51 {
    margin-top: calc(var(--space) * 51);
}

.mt-52 {
    margin-top: calc(var(--space) * 52);
}

.mt-53 {
    margin-top: calc(var(--space) * 53);
}

.mt-54 {
    margin-top: calc(var(--space) * 54);
}

.mt-55 {
    margin-top: calc(var(--space) * 55);
}

.mt-56 {
    margin-top: calc(var(--space) * 56);
}

.mt-57 {
    margin-top: calc(var(--space) * 57);
}

.mt-58 {
    margin-top: calc(var(--space) * 58);
}

.mt-59 {
    margin-top: calc(var(--space) * 59);
}

.mt-60 {
    margin-top: calc(var(--space) * 60);
}