/* * ================== */
/* * HEADER */
/* * ================== */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
    padding: 2rem 4rem;
    position: fixed;
    z-index: 99;
    inset: 0 0 auto 0;
}

nav .nav-items,
nav .sign-in {
    display: flex;
    align-items: center;
    gap: 3rem;
}

/* ---------------------------------- */
/* HEADER CONTENT */

header {
    overflow: hidden;
    position: relative;
    width: 100%;
    min-height: 100vh;
}

/* VECTORS */

header .vectors svg {
    position: absolute;
    top: 0;
    right: 0;
    translate: 25rem;
    animation: move infinite linear;
    animation-duration: calc(var(--i) * 10s);
    z-index: -1;
}

@keyframes move {
    50% {
        translate: 25rem -30rem;

    }

}

/* TEXT AND IMAGE */

header .header-content {
    padding-top: 10rem;
}

@media screen and (max-width: 1199px) {
    .header-content .header-text {
        order: 2;
    }

    .header-content .header-image {
        order: 1;
    }
}